# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
- List popular languages
- List commonly used libraries
- List tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. pandas
3. Keras
4. TensorFlow


| Data Science Tools |
|------------|
| JupyterLab|
| RStudio |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [ ]:
Exercise 9 - Create a code cell to convert minutes to hours

In this code cell write an expression that converts 200 minutes into hours.
Insert a comment line before the expression to explain the operation e.g.  This will convert 200 minutes to hours by diving by 60.
Run the cell to evaluate the expression.

Take a screenshot of the code cell with output and name it as 9-hourstominutes.png

In [6]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

Take a screenshot of the markdown cell and name it as 10-objectives.png


Exercise 11 - Create a markdown cell to indicate the Author's name

In this markdown cell markdown cell include the following text Author in H2 style heading. Include your name as regular text below the word Author.

Take a screenshot of the markdown cell and name it as 11-authordetails.png

Note: Save and download the notebook.

## Author
Zain Mecklai


Exercise 12 - Share your notebook through GitHub

Upload your notebook to a public respository on GitHub.

Note : Please keep the GitHub repo link of the notebook handy.
You will need to submit this link as a part of the assignment evaluation.

Hint: Refer to Lab: Working with files in Jupyter Notebooks to download the notebook from SN Labs.

Exercise 13 -Take a screenshot of the first page of the notebook and save it as 1-notebook.png

Refer to Hands-on Lab: Getting Started with GitHub to upload the downloaded notebook to GitHub.